<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:action="@{/adduser}" th:object="${user}"  method="post">
    <label for="fname">First name:</label>
    <input type="text" th:field="*{firstName}" id="fname" value="">
    <label for="lname">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lname" value="">
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age" value="">
    <input type="submit" value="Submit">
</form>

</body>
</html>